.Rproj.user
.Rhistory
.RData
.Ruserdata
# Do not add maintenance material
*~
inst/extras/*.rds
inst/extras/*.R
inst/exdata/*.R

# Never put this in version control
OAtoken
*.rds
data-raw/old/ili_data.rda
data-raw/ILI pseq
data-raw/*.R
